.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px; /* space from sides */
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #004aad;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: underline;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links li:hover {
  color: #b3c7ff;
}
